*{
    padding: 0;
    margin: 0;
}
body{
    /* font-size: 16px; */
    font-family: Arial, Helvetica, sans-serif;

}
.fullScreenVideo{
    height: 100vh;
    display: flex;
    align-items: center;
    color:#fff;
    overflow: hidden;
    
   
}
.video{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
}
.video video{
    min-width: 100%;
    min-height: 100%;
    
}
.bg{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    left: 0;
    background: #225470;
    z-index: 1;
    opacity: 0.4;
}
.content{
    background: #cddfe0;
    color: #333;
    margin: auto;
    padding:1rem 2rem;
    align-items: center;
    text-align: center;
    min-width: 450px;
    
    
    z-index: 2;
}
.content h2{
    padding-bottom: 1rem;
    font-size: 2rem;
}
.input{
    padding-bottom: 1rem;
    align-items: center;
    text-align: center;
}
.content p{
    font-size: 0.8rem;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-bottom: 1rem;
}
.content p a{
    color:red;
    text-decoration: none;
}
.btn{
    padding: 0.5rem 1rem;
    align-items: center;
    margin: auto;
    text-align: center;
    background: #14b3a5;
    font-size: 1.2rem;
    color: #fff;
}